<a href="https://colab.research.google.com/github/nurrizkyimani/hierarchical_research/blob/main/nurrizky_hierarichal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Drive Run

In [2]:
from google.colab import drive
drive.mount("/content/drive/")

Mounted at /content/drive/

# Import

In [3]:
import pandas as pd 
import numpy as np
!pip install emoji

# Data preprocessing (add sentiment column)

In [ ]:
path = "/content/drive/MyDrive/nlp_research/2022_research_hierarchical/"
twitter_dataset = path + "Twitter_Emotion_Dataset.csv"

In [ ]:
twt_pd = pd.read_csv(twitter_dataset)

In [ ]:
twt_pd.head()

   label                                              tweet
0  anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...
1  anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...
2  happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...
3  anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...
4  happy  Sharing pengalaman aja, kemarin jam 18.00 bata...

In [ ]:
twt_pd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4401 entries, 0 to 4400
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   4401 non-null   object
 1   tweet   4401 non-null   object
dtypes: object(2)
memory usage: 68.9+ KB

In [ ]:
twt_pd['label'].value_counts()

anger      1101
happy      1017
sadness     997
fear        649
love        637
Name: label, dtype: int64

In [ ]:
sentiment_neg = ['anger', 'sadness', 'fear']
sentiment_pos = ['happy', 'love']

twt_pd['sentiment'] = np.where(twt_pd["label"].isin(sentiment_neg), 'negative', 'positive')

In [ ]:
twt_pd.head()

   label                                              tweet sentiment
0  anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...  negative
1  anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...  negative
2  happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...  positive
3  anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...  negative
4  happy  Sharing pengalaman aja, kemarin jam 18.00 bata...  positive

In [ ]:
twt_pd.to_csv(path + 'twt_with_sentiment.csv')

# Preprocess

In [4]:
path = "/content/drive/MyDrive/nlp_research/2022_research_hierarchical/"
file_name =  "twt_with_sentiment.csv"
pre_twt_dataset = path + file_name

In [5]:
twt_pd = pd.read_csv(pre_twt_dataset)

In [6]:
twt_pd.head()

,Unnamed: 0,label,tweet,sentiment
0,0,anger,"Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...",negative
1,1,anger,"Sesama cewe lho (kayaknya), harusnya bisa lebi...",negative
2,2,happy,Kepingin gudeg mbarek Bu hj. Amad Foto dari go...,positive
3,3,anger,"Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...",negative
4,4,happy,"Sharing pengalaman aja, kemarin jam 18.00 bata...",positive

In [20]:
col_to_remove = twt_pd.iloc[:, 1]

twt_pd_no_one = twt_pd.drop(twt_pd.columns[0], axis=1)

In [21]:
twt_pd_no_one.head()

   label                                              tweet sentiment
0  anger  Soal jln Jatibaru,polisi tdk bs GERTAK gubernu...  negative
1  anger  Sesama cewe lho (kayaknya), harusnya bisa lebi...  negative
2  happy  Kepingin gudeg mbarek Bu hj. Amad Foto dari go...  positive
3  anger  Jln Jatibaru,bagian dari wilayah Tn Abang.Peng...  negative
4  happy  Sharing pengalaman aja, kemarin jam 18.00 bata...  positive

In [22]:
#case folding

twt_pd_noone_lower = twt_pd_no_one.copy()
twt_pd_noone_lower['tweet'] = twt_pd_noone_lower['tweet'].str.lower()

In [24]:
twt_pd_noone_lower.head()

   label                                              tweet sentiment
0  anger  soal jln jatibaru,polisi tdk bs gertak gubernu...  negative
1  anger  sesama cewe lho (kayaknya), harusnya bisa lebi...  negative
2  happy  kepingin gudeg mbarek bu hj. amad foto dari go...  positive
3  anger  jln jatibaru,bagian dari wilayah tn abang.peng...  negative
4  happy  sharing pengalaman aja, kemarin jam 18.00 bata...  positive

In [53]:
# remove time 
# regex = "([01]?[0-9]|2[0-3]).[0-5][0-9]";
reg_time = "([01]\d|2[0-3]).([0-5]\d)"

tst = twt_pd_noone_lower['tweet'].str.findall(reg_time)

In [43]:
twt_pd_noone_lower['tweet'][4397]

'sulitnya menetapkan calon wapresnya jokowi di pilpres 2019 salah satunya disebabkan gemuknya partai koalisi yang mengusung petahana. sehingga sikap kehati-hatian agar tidak ada yang terluka dari partai pengusung harus tetap dijaga #pilpres2019 #pilpres #jokowi #parpol'

In [83]:
# remove time ; 

twt_lower = twt_pd_noone_lower.copy()
twt_lower['tweet']  = twt_lower['tweet'].str.replace(r"([01]\d|2[0-3]).([0-5]\d)"," ")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  after removing the cwd from sys.path.

In [85]:
# remove hashtag; 


twt_hastag = twt_lower.copy()

trt = twt_hastag['tweet'].str.findall(r'\B#\w*[a-zA-Z]+\w*')

ht_list = []

for tok, val in trt.iteritems():
  for v in val:
    ht_list.append(v)

twt_hastag['tweet']  = twt_hastag['tweet'].str.replace("#", "")

In [86]:
twt_hastag['tweet'][4397]

'sulitnya menetapkan calon wapresnya jokowi di pilpres 2019 salah satunya disebabkan gemuknya partai koalisi yang mengusung petahana. sehingga sikap kehati-hatian agar tidak ada yang terluka dari partai pengusung harus tetap dijaga pilpres2019 pilpres jokowi parpol'

In [88]:
print(ht_list)

['#tni', '#bulanbungkarno', '#junibulanbungkarno', '#penyambunglidahrakyatindonesia', '#nomor2untukjatim', '#jatimpilihgusipulputi', '#kabehsedulurkabehmakmur', '#6nov', '#31months', '#begoloe', '#hadiahperasaan', '#sajete', '#wani', '#kecewa', '#salamsatunyalilari', '#bonekjancuk', '#belanjaitugakribet', '#menurutguesih', '#menurutkusih', '#jadilebihbaik', '#generasiantikorupsi', '#iyainajabiarcepet', '#heartofalio', '#hilihkinthil', '#iniserius', '#seriuscumatulisan', '#tulisandarilubuhhati', '#hatiyangcukupdalam', '#tapigakdalamdalambanget', '#islamselamatkannegeri', '#sedihrasanya', '#bukugariswaktu', '#fiersabesari', '#janganpilihpartaioposan', '#sexualharassment', '#saveviavallen', '#oldmoney', '#mobilelegendsbangbangid', '#recehkantwitter', '#recehkantwitter', '#karenasampahjakartabedasampahjerman', '#oldmoneygakngerasain', '#oldmoneygakngerasain', '#oldmoneygakngerasain', '#oldmoneygakngerasain', '#recehkantwitter', '#ramadhan', '#fiestamaksimum', '#2019gantipresiden', '#pantangmunsur', '#jakmania', '#persijaselamanya', '#2019gantipresiden', '#oldmoneygakngerasain', '#testiq', '#armyselcaday', '#oldmoneygakngerasain', '#yha', '#workshopcerpenkompas2014', '#tsygmc', '#menjauhdarijanji', '#workshopcerpenkompas2015', '#tsygmc', '#tsygmc', '#workshopcerpenkompas2014', '#curcol', '#surabaya', '#surabayamacet', '#tsygmc', '#bacabuku', '#workshopcerpenkompas2014', '#sedooooottt', '#wannaone', '#nowplaying', '#oldmoneygakngerasain', '#skripsibaper', '#kapanmarineeeeeeeeyaallah', '#rolandgarros18', '#ldrkronis', '#rolandgarros18', '#recehkantwitter', '#udahgituaja', '#lagidanlagi', '#andraandthebackbone', '#peak212', '#halah', '#baperlevelcupu', '#ngayalbabu', '#anakperantauan', '#anakkost', '#maklumlahyo', '#happy25', '#thanksfam', '#thanksdear', '#oldmoneygakngerasain', '#recehkantwitter', '#goindonesia', '#twittmalam', '#twittrindu', '#inisahurtiketcomharike20', '#netmediatama', '#inisahurtiketcomharike20', '#oldmoneygakngerasain', '#friendster', '#thankyoutwitter', '#harijaditwittersaya', '#oldmoneygangerasain', '#gituajaterus', '#mikir', '#oldmoneygakngerasain', '#oldmoneygakngerasain', '#pekaitupenting', '#mytwitteranniversary', '#ceritahariini', '#ceritakemarinsore', '#spoiler', '#telkom', '#oldmoneygakngerasain', '#bijakberplastik', '#mbuh', '#ilcbpip', '#persibday', '#relationshit', '#kai', '#kaioninstagram', '#ilcbpip', '#nasib', '#alhamdulillah', '#pakan', '#budidaya', '#kulinertradisional', '#kulinerbanyuwangi', '#bakulkuliner', '#warunglya', '#ahlanwasahlanpildun', '#bonekselamanyajancok', '#viavallen', '#justkidding', '#viavallen', '#sajak', '#poem', '#hujan', '#senja', '#rindu', '#pertemuan', '#efekkebanyaknbacanovel', '#ripkate', '#lyfe', '#pacaranjamandulu', '#masihtentangjuni', '#ceritakaa', '#masihtentangjuni', '#ceritakaa', '#ajaib', '#savewoman', '#saveviavallen', '#speakup', '#timesup', '#rabumenggebu', '#ozmatasapi', '#barunikah', '#batalin2periode', '#pasta', '#piza', '#kiscorp', '#sukseskanasiangames2018', '#timviavallen', '#semangatpuasa', '#misezbogoronramadhan', '#petuahpuasa', '#fiersabesari', '#latepost', '#jadilebihbaik', '#bukber', '#sukseskanseagames', '#curvanordpersija', '#curvasudpersija', '#rojali', '#asukabeh', '#oldmoneygakngerasain', '#worldcup', '#temanantaraterfavorit', '#workshopcerpenkompas2015', '#tsygmc', '#maritertiblantas', '#oldmoneygakngerasain', '#oldmoneygakngerasain', '#oldmoneygakngerasain', '#mudikbarengguyubrukun2018', '#kawulamoda', '#lebaran2018', '#kangentingting', '#aslipati', '#nguri2', '#armyselcaday', '#pembisnismuda', '#inisahurtiketcomharike20', '#inisahurtiketcomharike20', '#inisahurtiketcomharike20', '#oldmoneygakngerasain', '#oldmoneygangerasain', '#tolakhoax', '#lawanhoax', '#pilkadadamai2018', '#kawalkreasi', '#recehkantwitter', '#oldmoneygakngerasain', '#aksibelavia', '#bukbermendesa', '#ramadan', '#tgbharapan2019', '#ilcbpip', '#bedahrumahibuiriyani', '#quotesoftheday', '#sukseskanasiangames2018', '#keluhanborjuis', '#forgiveme', '#saveviavallen', '#lifeatapril', '#selamatpagi', '#gunungkidul', '#harilingkunganhidupsedunia', '#worldenviromentday2018', '#andrebarabere', '#juliaperrez', '#juliaperez', '#jupenizer', '#lll', '#lfl', '#tflers', '#likeforlike', '#sick', '#jupe', '#meninggal', '#rip', '#ripjupe', '#cecepy', '#cirebon', '#exo', '#exoplanet', '#theelyxion_dot', '#exo_comingsoon', '#weareoneexo', '#nomation', '#cakilrakyat', '#tegaklurus', '#satukomando', '#exoplanet', '#exo', '#exo_comingsoon', '#theelyxion_dot', '#weareoneexo', '#rakyat', '#penentu', '#indonesia', '#elit', '#parpol', '#2019bubarkanpks', '#throwback', '#nadyaandriwedding', '#tak8erbatas', '#dgitm', '#virtualrunid', '#dukungbersama', '#asiangames2018', '#fitmom', '#runninggirl', '#runningmom', '#runningjourney', '#waterfalls', '#tgb', '#hrs', '#sby', '#pmarahanarab', '#akugppkok', '#tsahhhh', '#holiday', '#breakfast', '#syantik', '#pizzahut', '#juanda', '#jakarta', '#indonesia', '#tuesday', '#sekitarkudus', '#infosekitarkudus', '#kudus', '#riprahtawu', '#bersepeda', '#bandungbersepeda', '#bandung', '#bandungnightride', '#indonesiabersepeda', '#parangtritis', '#beach', '#yogyakarta', '#tgb', '#cegahstunting', '#berigizicukup', '#sayanganak', '#seminarpanji', '#sastra', '#anakkodok', '#jadibisa', '#rameinbola', '#hellomellopoppunk', '#hellomello', '#poppunk', '#subang', '#recording', '#bukber', '#reuni', '#sokonandi', '#returnofthelittleprince', '#happyheechulday', '#jadibisa', '#rameinbola', '#touringertigamania', '#ermanjatim', '#halalbihalal2018', '#sahabat', '#janganlupabersyukur', '#alwayssayalhamdulillah', '#akurapopo', '#8monthdedek', '#nazhiaputriadhitya', '#sehatterussayang', '#cintaudek', '#thaicaverescue', '#pakarkomunikasi', '#explorebanten', '#exploreindonesia', '#pandeglang', '#mountain', '#pulosari', '#tibatibacinta', '#tibatibakangensuami', '#tibatiba', '#cerita', '#orangyangkucintai', '#hazeeek', '#ayomembaca', '#satuharisatubab', '#catatanperjalanan', '#suryakencana', '#gununggede', '#returnofthelittleprince', '#nonelse', '#happy', '#happytuesday', '#jokowisekalilagi', '#jokowi2periode', '#streetcubeastborneo', '#streetcubbalikpapan', '#janganlupabahagia', '#streetcubkaltim', '#streetcubfans', '#streetcub_bpp', '#streetcub', '#jokowi2periode', '#guitarforlife', '#honorindonesia', '#allhamdulilah', '#honorindonesia', '#kapanliburanlagi', '#kerjateruss', '#honorindonesia', '#honor7s', '#honorindonesia', '#honor7s', '#supir', '#segera', '#2019tetapjokowi', '#jokowi_2_periode', '#jokowibersamarakyat', '#mohonantri', '#kopi_nusantara', '#kopiindonesia', '#arabika', '#arabica', '#mandheling', '#mandailingcoffee', '#mandailing', '#sumateracoffee', '#kintamani', '#photography', '#savana', '#vsco', '#balicili', '#balitrip', '#baligasm', '#bali', '#travelling', '#happybirthday', '#mybaby', '#vitaminsea', '#nu', '#majelisnuruddin8642', '#satrionkri', '#ngaji', '#seriustanya', '#bazarpesonamudiklebaran', '#staywithmetodaytomorrowforever', '#bazarpesonamudiklebaran', '#genpitng', '#dududududu', '#harijaditwittersaya', '#frn', '#tumblr', '#wisngonowae', '#maafefekstress', '#efekldr', '#efeklaparjuga', '#exo_comingsoon', '#exo', '#exoplanet', '#weareoneexo', '#tipssore', '#salamsaum', '#sobatani', '#petanikita', '#janganbullyaku', '#temanbukanpacarbukan', '#baladaanakdaerah', '#inisahurtiketcomharike20', '#harilingkunganhidupsedunia', '#prayforlombok', '#cmiiw', '#viwihotdealsformiddleeast', '#pwbanget', '#harianaknasional', '#bts', '#inisahurtiketcomharike20', '#semen', '#2019tetapjokowi', '#2019tetapjokowi', '#2019tetapjokowi', '#2019tetapjokowi', '#2019tetapjokowi', '#2019tetapjokowi', '#recehkantwitter', '#teenchoice', '#choicefandom', '#btsarmy', '#gantipresiden2019', '#jumatberkah', '#padatkaryatunai', '#tppilumajang', '#thaicaverescue', '#recehkantwitter', '#memberantaskemiskinan', '#kreasitiadahenti', '#semuademibeas', '#motorcycle', '#kustomkulture', '#jokowisekalilagi', '#celotehreceh', '#happyjendeukieday', '#calonpenghunineraka', '#has', '#pesonaramadan2018', '#pesonaramadan4juni2018', '#jokowisekalilagi', '#sajak_detik', '#sajakrindu', '#diam', '#tanyajawab', '#janganpergi', '#bni46', '#rakyatindonesia', '#savenkri', '#oldmoneygakngerasain', '#oldmoneygakngerasain', '#kknlyfe', '#2019tetapjokowi', '#jokowi_2_periode', '#jokowimembangunindonesia', '#solo', '#dapetin', '#sisasemalam', '#dibuangsayang', '#withgadis', '#22menit', '#ansormajusatubarisan', '#parkir', '#ilcbpip', '#2019gantipresiden', '#happy_baekho_day', '#jayalahnu', '#jokowisekalilagi', '#hentikanacarapembodohan', '#savetelevisiindonesia', '#kpi', '#grabtakesyouthere', '#idolbyopera', '#idolshowcase1', '#dontforget', '#ya', '#eonnie', '#semangat', '#sizzyharuskuat', '#friendzoned', '#temanbukanpacarbukan', '#kulinertradisional', '#kulinerbanyuwangi', '#bakulkuliner', '#warunglya', '#panoramacantik', '#inisahurtiketcomharike20', '#cinta', '#kiddos', '#play', '#games', '#oldmoneygakngerasain', '#deteksidinihepatitis', '#celotehreceh', '#recehkantwitter', '#kapangemuk', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#jatengdaruratkorupsi', '#teenchoice', '#choicefandom', '#btsarmy', '#mr21', '#olahraga', '#sepakbola', '#penerusbangsa', '#indonesia', '#atlite', '#olahragawan', '#adidas', '#nike', '#puma', '#specs', '#anakbola', '#timnasindonesia', '#sukses', '#2pm', '#hottest', '#indonesia', '#puisimalam', '#islahdiri', '#darencintafeyca', '#inisahurtiketcomharike20', '#kotamalang', '#savejalanraya', '#malang', '#momnjogadingserpong', '#giftawayforcustomer', '#kopi', '#thanks', '#halalbihalal', '#jatimotoblog', '#blitar', '#sugimasihada', '#blogger', '#rider', '#touring', '#oldmoneygakngerasain', '#happy_baekho_day', '#roomtoread', '#viwihotdealsformiddleeast', '#ramadan', '#recehkantwiter', '#freepalestine', '#deenassalam', '#us', '#recehkantwitter', '#keluargabaru', '#viwihotdealsformiddleeast', '#thinkifyouhavebrain', '#hamilsamasetan', '#falsong', '#memetwit', '#ygl', '#pappa33yearsold', '#viwihotdealsformiddleeast', '#prayforlombok', '#nahdlatululama', '#jokowisekalilagi', '#inisahurtiketcomharike20', '#temankobong', '#pagingopi', '#ramadan', '#kapanliburanlagi', '#recehkantwiter', '#recehkanpssi', '#recehkansepakbola', '#masakecilkuasik', '#jadilebihbaik', '#mesra', '#presidenterhebat', '#iriana', '#firstladyindonesia', '#trans7rumahuya2507', '#rumahuya2507', '#muktamar18imm', '#jokowisekalilagi', '#dailysinthaa', '#prayforlombok', '#goldreinvented', '#antamlogammulia', '#pssday', '#islahdiri', '#simplylife', '#persibday', '#pucuk', '#juara', '#awaydays', '#bantul', '#bobotohsaalamdunya', '#banggamengawalmu', '#oldmoneygakngerasain', '#recehkantwitter', '#recehkantwiter', '#recehkantwitter', '#bali', '#instabali', '#kangenbali', '#jelajahdesa2018', '#mohonditindaklanjut', '#2019istiqomahjokowi', '#salamsaum', '#bandung', '#cikutra', '#ensenangbandung', '#payingrespect', '#jokowi2periode', '#siap2', '#waspadamerapi', '#protesdewe', '#getwellsoonleeteuk', '#razannajjar', '#palestina', '#myfaceismyproblemnotyours', '#dibikinasikaja', '#familytime', '#qualitytime', '#unitedindonesia', '#unitedtogether', '#uici', '#unitedindramayu', '#unitedindonesiachapterindramayu', '#ayoramaikantengananfestival', '#politiksubjektif', '#dinnerdate', '#jokowi2periode', '#kosanlyfe', '#internationalgamelanfestival2018', '#keseleocinta', '#efekgabisatidur', '#nanyaserius', '#maukerja', '#aquietplace', '#hereditary', '#bahasaarab', '#oldmoneygakngerasain', '#nasehat', '#eaaaaaaa', '#bondonekat', '#mydiary', '#humancapitallife', '#terjemahanbebas', '#jadigalau', '#workshop', '#wedding', '#weddingparty', '#weddingtradisional', '#adatjawa', '#menyedihkan', '#friendship_goals', '#happy3thanniversary', '#trans7rumahuya2507', '#rumahuya2507', '#faktaatauhoax', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#jatengsaruratkorupsi', '#aqilah', '#calonpenghunineraka', '#psim', '#psimday', '#cinta', '#kasih', '#sayang', '#jokowi2periode', '#lestactindonesia', '#putrikedatonspa', '#ct', '#persibday', '#persibsalawasna', '#persiblive', '#psmsvprsb', '#liga1kitasatu', '#2019gantipresiden', '#pilpres2019', '#pilpres', '#jokowi', '#parpol', '#dontdateadancer']

In [90]:
# remove punctuation
twt_puc = twt_hastag.copy()
twt_puc['tweet'] = twt_puc['tweet'].str.replace(r'[^\w\s]+', '')
twt_puc['tweet'][4397]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

'sulitnya menetapkan calon wapresnya jokowi di pilpres 2019 salah satunya disebabkan gemuknya partai koalisi yang mengusung petahana sehingga sikap kehatihatian agar tidak ada yang terluka dari partai pengusung harus tetap dijaga pilpres2019 pilpres jokowi parpol'

In [98]:
# change emoji; 
twt_emoji = twt_puc.copy()

trt = twt_emoji['tweet'].str.findall(r'[^\w\s,]')

emolist = []

for tok, val in trt.iteritems():
  for v in val:
    emolist.append(v)

print(emolist)


import emoji

def extract_emojis(s):
  return ''.join(c for c in s if c in emoji.UNICODE_EMOJI['en'])

for index, row in twt_emoji.iterrows():
    emo = extract_emojis(row)
    if emo: 
      emolist.append(emo)

print(emolist)

#no emoji

[]
[]

In [100]:
!pip install PySastrawi

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting PySastrawi
  Downloading PySastrawi-1.2.0-py2.py3-none-any.whl (210 kB)
     || 210 kB 4.3 MB/s
Installing collected packages: PySastrawi
Successfully installed PySastrawi-1.2.0

In [101]:
# stemming 
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory

# create stemmer
factory = StemmerFactory()
stemmer = factory.create_stemmer()

# stemming process
sentence = 'Perekonomian Indonesia sedang dalam pertumbuhan yang membanggakan'
output   = stemmer.stem(sentence)

print(output)
# ekonomi indonesia sedang dalam tumbuh yang bangga

print(stemmer.stem('Mereka meniru-nirukannya'))

twt_stem = twt_emoji.copy()

twt_stem['tweet'] = twt_stem['tweet'].apply(lambda x: stemmer.stem(x))

ekonomi indonesia sedang dalam tumbuh yang bangga
mereka tiru

In [103]:
twt_stem['tweet'][4398]

'5 masa depan nggak jelas lha iya gimana mau jelas coba lulus seni bisa cuma nari mau kerja apa narinari doang berapa sih hasil tari kerja juga gak tetap dontdateadancer'

In [32]:
import re
twt_pd_space = twt_pd_noone_lower.copy()

twt_pd_space['tweet'] = twt_pd_space['tweet'].apply(lambda y: " ".join((re.sub(r'([+/-;\';.,\-()])', lambda x: ' ' + x.group()+' ' , y)).split()) , 1)

In [33]:
twt_pd_space.head(10)

     label                                              tweet sentiment
0    anger  soal jln jatibaru , polisi tdk bs gertak guber...  negative
1    anger  sesama cewe lho ( kayaknya ) , harusnya bisa l...  negative
2    happy  kepingin gudeg mbarek bu hj . amad foto dari g...  positive
3    anger  jln jatibaru , bagian dari wilayah tn abang . ...  negative
4    happy  sharing pengalaman aja , kemarin jam 1 8 . 0 0...  positive
5    anger  dari sekian banyak thread yang aku baca , thre...  negative
6    happy  sharing sama temen tuh emg guna bgt . disaat l...  positive
7  sadness  orang lain kalau pake ponco itu buat jas hujan...  negative
8    anger  contoh mereka yg gemar menyudutkan , teriak pa...  negative
9  sadness  pulang udah h - 4 lebaran dilema sekali . sepe...  negative